allow vendor_init block_device:lnk_file { setattr } ;
allow vendor_init seemp_data_file:dir { create } ;
allow vendor_init seemp_data_file:dir { setattr } ;
